body {
    background-color: rgb(127, 247, 211);
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-bottom: 6px;
}

main {
    background-color: white;
    margin: auto;
    width: 750px;
    height: auto;
    margin-top: 238px;
    border: solid white 6px;
    border-radius: 6px;
    padding: 6px 6px;
    margin-bottom: 238px;
}

.box {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 5;
}

.box div {
    text-align: center;
}

#number-area {
    border: white 6px solid;
    border-radius: 6px;
    box-shadow: grey 2px 2px;
    width: 250px;
    outline: none;
    margin-bottom: 5px;
}

#button {
    background-color: rgb(127, 247, 211);
    border: solid 6px rgb(127, 247, 211);
    border-radius: 6px;
    box-shadow: rgb(173, 173, 173) 2px 2px;
    cursor: pointer;
    margin-top: 5px;
}

#button:hover {
    box-shadow: none;
    outline: none;
}

#alert {
    font-weight: bold;
}